.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content  {
    display: block;
}

.menu {
    width: 30%;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: black;
}

.main-list {
    list-style-type: none;
}

span.list-item {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

/*#S-1-1 {    
    width: 77px;
    height: 77px;    
    background: url(Images/images/1.jpg) 0 0;
}*/

/*#testS-1-1 {
    position: relative;
}*/

#testS-1-1 li {
    margin: 0;
    padding: 0;
    list-style: none;
/*    position: absolute;*/
    top: 0;
}

#testS-1-1 li {
    height: 77px;
    display: block;
}

#S-1-1 {    
    left: 0px;
    width: 75px;    
    background: url('Images/images/1.jpg') 0 0;
}